@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7PqtlsnDs-cq7Gq0DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro SemiBold'), local('SourceCodePro-SemiBold'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7Pqt4s_Ds-cq7Gq0DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
		font-family: 'Source Code Pro';
		font-weight: 300;
}

b {
	font-weight: 600;
}

body {
		width: 78ch;
		background-color: #151515;
		color: #fff;
}

a {
		color: #f00;
}

a:hover {
		color: #a00;
}

h1, h2, h3 {
		display: unset;
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
		font-variant: small-caps;
		color: #0f0;
}

ul {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
}

li:before {
		content: "■";
		display: block;
		float: left;
		margin-left:-12ch;
		padding-left: 7ch;
		padding-right: 4ch;
}

li {
		display: block;
		padding-left: 12ch;
		padding-bottom: 0.5em;
}

p {
		margin-top: 0;
		padding-left: 7ch;
}

.wideline {
		display: flex;
		justify-content: space-between;
		font-size: small;
}

.wideline.begin {
		padding-bottom: 3em;
}

.wideline.begin img {
		height: 1rem;
}

.wideline.end {
		padding-top: 3em;
}

.wideline span {
		flex: 0 1 auto;
}

div.prewrapper {
		padding-left: 7ch;
		margin-bottom: 1em;
}

table {
		padding-left: 7ch;
		margin-bottom: 1em;
}

.inv {
		border: 1px solid white;
		font-size: small;
		padding: 2px;
}

table {
		border-spacing: 0;
}

th {
		text-align: left;
		padding: 0.5rem 1ex;
}

td {
		border-top: 1px solid #444;
		padding: 0.5rem 1rem;
}

blink {
  	animation: 1s ease infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.text-muted {
		color: #868e96 !important;
}

div.challenges {
		margin-top: 0;
		padding-left: 7ch;
}

.challenges img {
	height: 1em;
}
