* {
		font-family: Consolas, monaco, monospace;
}

body {
		width: 78ch;
		background-color: #151515;
		color: #fff;
}

a {
		color: #f00;
}

a:hover {
		color: #a00;
}

h1, h2, h3 {
		display: unset;
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
		text-transform: uppercase;
		color: #0f0;
}

ul {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
}

li:before {
		content: "■";
		display: block;
		float: left;
		margin-left:-12ch;
		padding-left: 7ch;
		padding-right: 4ch;
}

li {
		display: block;
		padding-left: 12ch;
		padding-bottom: 1em;
}

p {
		margin-top: 0;
		padding-left: 7ch;
}

.wideline {
		display: flex;
		justify-content: space-between;
		font-size: small;
}

.wideline.begin {
		padding-bottom: 3em;
}

.wideline.begin img {
		height: 1rem;
}

.wideline.end {
		padding-top: 3em;
}

.wideline span {
		flex: 0 1 auto;
}

div.prewrapper {
		padding-left: 7ch;
		margin-bottom: 1em;
}

table {
		padding-left: 7ch;
		margin-bottom: 1em;
}

.inv {
		border: 1px solid white;
		font-size: small;
		padding: 2px;
}

table {
		border-spacing: 0;
}

th {
		text-align: left;
		padding: 0.5rem 1ex;
}

td {
		border-top: 1px solid #444;
		padding: 0.5rem 1rem;
}

blink {
  	animation: 1s ease infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.text-muted {
		color: #868e96 !important;
}

div.challenges {
		margin-top: 0;
		padding-left: 7ch;
}

.challenges img {
	height: 1em;
}
