body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #0c0;
  font-family: monospace;
  align-content: flex-end;
  align-items: center;
  word-wrap: break-word;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

#logo {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

#logo div {
  display: flex;
  flex-grow: 1;
}

#logo span {
  display: inline-block;
  flex-grow: 1;
}

#logo span:hover {
  display: inline-block;
  flex-grow: 1;
  background-color: #007f00;
}

#logo .p {
  background-color: #0c0;
}

.content {
  width: 800px;
  padding-top: 20px;
}

.spacer {
  align-self: stretch;
  margin: auto;
}

@media screen and ( max-width: 820px ){
  pre {
    font-size: 10px;
  }
    .content {
        margin: 0 10px;
        width: auto;
    }
}

h1 {
  padding-top: 20px;
  font-weight: normal;
}

h2 {
  padding-top: 20px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

a {
  color: #007f00;
  transition: color 0.5s ease;
  text-decoration: underline;
}

a:hover {
  color: #00ff00;
}

a.ns {
  padding: 0 5px;
}

a.s {
  text-decoration: none;
  color: #222;
  background-color: #007f00;
  transition: background-color 0.5s ease;
  padding: 0 5px;
}

a.s:hover {
  background-color: #00ff00;
}

.writeups a[href*=http] {
    padding-right: 13px;
    background: center right no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoUCAwxd3+kYAAAAGhJREFUGNOFj90NwCAIhA/jRu6EM+lMdabrQ0XxJ+kRQiBfDhCS8JIs68DmHpTaId2oDATfUyloAOrpGK+r0gl+jqWnrU3A7hz9HVeoekdzaivEQplVwREPOHoFScIyHE8UXBXHfT96AXoqM2PdWVmeAAAAAElFTkSuQmCC")
}

footer {
   text-align: center;
   width: 100%;
   padding-top: 7px;
   margin-top: 20px;
   border-top: 1px solid #000;
}

th {
  text-align: left;
}

.challenges td {
  padding: 10px;
}

.challenges th {
  padding-left: 10px;
  font-weight: normal;
}

.challenges tbody tr:nth-of-type(odd) {
  background-color: #444
}

.challenges tbody tr:nth-of-type(even) {
  background-color: #333
}

.challenge .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
