<html lang="en">
	<head>
		<title>Square CTF: {year} challenges</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
		<meta name="og:title" content="Square CTF: hacking competition!">
		<meta name="og:url" content="https://squarectf.com/">
		<meta property="og:type" content="website">
		<meta name="og:description" content="Compete to solve security-related challenges.">
		<meta property="og:image" content="../og.png">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@SquareEng">
		<meta name="twitter:title" content="Square CTF: We make security and hacking more approachable — since 2014.">
		<meta name="twitter:description" content="Compete to solve security-related challenges.">
		<meta name="twitter:image" content="../og.png">

		<meta name="description" content="Compete to solve security-related challenges.">
		<meta name="author" content="Square, Inc.">
		<link rel="stylesheet" media="screen" href="../squarectf.css">
	</head>
	<body>
		<div class="wideline begin">
			<span>CHALLENGES({year})</span>
			<span><a href="../index.html"><img src="../sqlogo.svg"></a></span>
			<span>CHALLENGES({year})</span>
		</div>

		<div><img src="ctf.png" style="max-width: 100%"></div><br/>

		<h1>Note</h1>
		<p>Some challenges were hosted on our infrastructure. They are now available as
      <a href="https://www.docker.com/">Docker</a> images which you can download and run on your own computer. If you
      want to solve the challenges in the same way as the participants of the CTF, you should treat these Docker
	  instances as blackboxes and avoid peeking in them.
		<br><br>
		All zipped challenges should include some solution or explanation.
	</p>

	<h1>Rules</h1>
		<p><a href="rules.html">https://squarectf.com/{year}/rules.html</a></p>

    <h1>Challenges</h1>
		<div class="challenges" style="line-height: 0.8em">
			<pre><span class="text-muted">*</span>
{chals}
			</pre></div>

		<h1>Results</h1>
		<p><a href="results.html">https://squarectf.com/{year}/results.html</a></p>

		<h1>See also</h1>
		<p>
			<a href="https://squ.re/2POCGUK">Work_at_Square(1)</a>,
			<a href="https://squareup.com/legal/privacy">Privacy_policy(1)</a>,
			<a href="https://squarectf.com/code_of_conduct.html">Code_of_conduct(1)</a>
		</p>
		<div class="wideline end">
			<span>Square, Inc.</span>
			<span>(c) <script>document.write(new Date().toLocaleString("en-us", {month: "long", year: "numeric"}));</script></span>
			<span>CHALLENGES({year})</span>
		</div>
	</body>
</html>
